.dark-mode{
    background-color: darken($grisOscuro, 10);

    p, blockquote{
        color: $blanco;
    }

    a,h1,h2,h3,h4,h5,h6{
        color: $gris;
    }
    .precio{
        color: $verde;
    }

    .anuncio,
    .resumen-propiedad{
        background-color: darken($grisOscuro, 4);
        border: 1px solid $grisOscuro;
       
        .icono{
            filter: invert(100%);
            
        }
    }
    .formulario{
        input:not([type="submit"]),
        textarea, select{
        background-color:$grisOscuro;
        border: 1px solid $grisOscuro;
        color: $blanco;
    }

        label,
        legend, 
        p{
        color: $gris;
        }
    }
    
   
}